<p>Hallo {{ user.first_name|default:user.email }},</p>
<p>vielen Dank fuer die Vervollstaendigung deiner Registrierung.</p>
<p>Im Anhang findest du deinen Aufnahmeantrag, das SEPA-Lastschriftmandat und die Selbstauskunft.</p>
<p>Der Vorstand prueft nun deine hinterlegten Daten. Bitte pruefe die Unterlagen und reiche die unterschriebenen Dokumente beim Verein ein.</p>
<p>Nach erfolgreicher Verifizierung erhaeltst du den Mitgliederausweis separat per E-Mail.</p>
<p><a href="{{ login_url }}">Zum Login</a></p>
<p><a href="{{ dashboard_url }}">Zum Dashboard</a></p>
<p>
  Rueckfragen zur Mitgliedschaft: <a href="mailto:{{ club_membership_email }}">{{ club_membership_email }}</a><br>
  {{ club_name }}<br>{{ club_contact_address|linebreaksbr }}
</p>
